.logo {
    height:50px;
    position: relative;
    top : -16px;

}
nav {
    padding: 10px;
}

.logo_list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: blue;
    width :80%;
}
footer {
    width :100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom:0
}
#bottom_logo {
    width: 60%;
    position : relative;
    top: 20px;
}

.corpsBody{
    padding-top: 6em;
    padding-bottom: 6em;
    margin: 0 auto;

}

.carrousell{
    margin-top: 4em;
    margin-bottom: 4em;
}

.corpsBody h2{
    font-weight: bold;
}
.english{
    font-style: italic;
}
.labels{
    padding-top: 1em;
    padding-bottom: 1em;
}

