/*** NAV ***/
.logo {
    height:50px;
    position: relative;
    top : -16px;

}
nav {
    padding: 10px;
}

.logo_list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: blue;
    width :80%;
}

/*** FOOTER ***/
footer {
    width :100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom:0
}
#bottom_logo {
    width: 60%;
    position : relative;
    top: 20px;
}

/*** MAIN STYLES***/
.display-bloc{
    display: inline-block;
}

/*** EVENT ***/
.icon-sport{
    width: 50px;
}
hr{
    width: 5rem;
    border-top: 2px solid #e2e2e2;
}
.bg-img-bordeaux{
    background-image: url('../images/tree-nature-branch-plant-grape-vineyard-1062430-pxhere.com.jpg');
	width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-biarritz{
    background-image: url('../images/img-2.jpg');
	width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bloc-text{
    background-color: rgba(255, 255, 255, 0.52);
}
.marge-bloc{
    padding: 2rem 0;
}
.item-sport{
    vertical-align: -5px;
}
/*** CONTACT ***/
#bordeaux{
    margin-top: 5rem;
}