.logo {
    height:50px;
    position: relative;
    top : -16px;

}
nav {
    padding: 10px;
}

.logo_list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: blue;
    width :80%;
}
footer {
    width :100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
#bottom_logo {
    width: 60%;
    position : relative;
    top: 20px;
}
.black_background {

    background-color :black;
    padding-top : 200px;
}

.topic:first-child {
    margin-top :20px;
}
.topic {
    background-color: lightgrey;
}

body {
    background-color: black;
}





